## THIS is the code for all the things that you need to ssmf packeges thsat you need to  run for all the different projects ]
pandas
numpy
streamlit
matplotlib
seaborn
flask
faker
nltk 
scikit-learn
Tensorflow
qiskit
opencv-python 
pennylane 
qiskit qiskit-aer
